.vscode
node_modules
.DS_Store
dist
dist-ssr
*.local
public/hdr/winter_winter_lake_01_2k.hdr
public/hdr/winter_snowy_park_01_2k.hdr
public/hdr/winter_snowy_forest_path_01_2k.hdr
public/hdr/winter_snowy_field_2k.hdr
public/hdr/winter_snow_field_2k.hdr
public/hdr/winter_birchwood_2k.hdr
public/hdr/park_pond_bridge_night_2k.hdr
public/hdr/park_park_bench_2k.hdr
public/hdr/park_bell_park_dawn_2k.hdr
public/hdr/park_arboretum_2k.hdr
public/hdr/island_pool_2k.hdr
public/hdr/island_pond_2k.hdr
public/hdr/island_lakeside_2k.hdr
public/hdr/desert_syferfontein_18d_clear_2k.hdr
public/hdr/desert_sunset_in_the_chalk_quarry_2k.hdr
public/hdr/desert_quarry_02_2k.hdr
public/hdr/desert_lenong_2_2k.hdr
public/hdr/desert_lenong_1_2k.hdr
public/hdr/desert_kiara_4_mid-morning_2k.hdr
public/hdr/desert_chapmans_drive_2k.hdr
public/hdr/city_sunset_jhbcentral_2k.hdr
public/hdr/city_royal_esplanade_2k.hdr
public/hdr/city_potsdamer_platz_2k.hdr
